@keyframes blur {
    from {
      filter: blur(2rem);
    }
    to {
      filter: blur(0);
    }
}

@keyframes appear {
	from {
	  opacity: 0%;
	}  
	to {
		opacity: 100%;
	}
}

@keyframes blink {
	from {
	  opacity: 50%;
	}  
	to {
		opacity: 100%;
	}
}

// animation for modal
@keyframes modalopen {
	from {
		transform: translateY(-50px); opacity: 0;
	}
	to {
		transform: translateY(0); opacity: 1;
	}
  }

// animation for all pages
main {
  animation: .4s ease-in blur;
}