button {
    color: $main;
    background-color: transparent;
    padding: .15rem .75rem;
    border: 1px solid $main;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: .9rem;
    font-weight: 700;
    display: inline-block;
    margin: .15rem;

    &:hover, &:active, &:visited {
      color: $main;
    }

    &:hover {
      background-color: $sub1;
      color: $sub2;
      border: $sub1;
    }
  }
  
  