.loading-img-box {
    width: 100vw;
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;

    #loading {
        text-align: center;
        margin: 0 auto;
        max-height: 75px;
        max-width: 75px;

        animation: 0.5s linear infinite blink;
    }
}

