#intro-page-main {
    width: 100vw;
    height: 100vh;
    align-content: center;
    text-align: center;

    background-image: 
            url('../assets/bg/background.svg');
            background-repeat: no-repeat;
            background-size: cover;

    .site-intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        h1 {
            font-size: clamp(5rem, 10vw, 20rem);
            text-align: center;
            align-content: space-around;
            max-width: 80vw;
            max-height: 80vh;
            margin: 0 2rem;
            padding: 3rem;
            align-items: center;

        }

    }

    .start-button {
        font-size: .8rem;
        padding: .5rem 1.5rem;
        text-align: center;
        margin: 0 auto;
        border-radius: 20px;
        background-color: rgba(59,44,155,0.7);
        color: $sub2;

        @include mq(em($mtablet)) {
            font-size: clamp(1rem, 2vw, 1.5rem);
        }
    }

    .site-intro-my-name {
        font-family: $bodyFont;
        font-size: 0.75rem;
        font-weight: 300;
        position: absolute;
        bottom: 0;
        width: 100%;
        color: $sub2;
        text-align: center;
    }

}