.skillgame-board {
    text-align: center;

    .section-top-h1 {
        white-space: pre-wrap;
        word-break: break-word; 
    }

    .game-wrapper {

        .skill-desc-block {
            font-size: .9rem;
            line-height: 1.5;
            grid-area: desc;
            align-content: center;
            margin-left: 1rem;
            text-align: left;
        }
    
        .answer-block {
            min-height: 150px;
            align-content: center;
            grid-area: answer;

            @include mq(em($msmall)) {
                margin-right: 1rem;
            }

            .question-mark {
                font-size: 2.5rem;
            }

            .quiz-answer {
                
            }
        }

        .game-buttons {
            grid-area: buttons;
        }
    
        .game-extra-info {
            font-size: 0.75rem;
            grid-area: extra;
        }

        @include mq(em($mlandscape-2)) {
            display: grid;
            grid-gap: .5rem;
            grid-template-columns: 60% 40%;
            grid-template-areas: 
                "desc answer"
                "buttons buttons"
                "extra extra";
        }
    }
}